// Headers & Nav
#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logoImg {
  height: 50px;
}

// Content

#content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carouselTop {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pack {
  display: flex;
  justify-content: center;
}
.pack:not(:last-child) {
  padding-bottom: 5px;
}
.card-img-top {
  height: 140px;
}
