body {
    
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
    
}
.social-img {
    width: 25px;
}
.navbar-brand {
    font-size: 30px;
    text-shadow: 0px 0px 5px green;
}
.navbar .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
}
.navbar-toggler {
    outline: none;
}
.bg-black {
    background-color: black ;
}
/* -----Slider----- */
.carousel {
    width: 80%;
    margin: 40px auto;
}
.carousel-item {
    height: 600px;
}
.carousel-image-1 {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
    url('../img/snakes/109930170_289833505407804_7502598578704983704_n.jpg');
    background-size: cover;
}
.carousel-image-2 {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
    url('../img/snakes/110314688_2700963060173762_4637371912612794075_n.jpg');
    background-size: cover;
}
.carousel-image-3 {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
    url('../img/snakes/110317079_725558371610843_3399066962713704261_n.jpg');
    background-size: cover;
}
.title-color {
    color: #fff;
}
.btn-color {
    background: #000;
    text-emphasis: grey;
}
.btn-color:hover {
    color: #fff;
}

/* --- Box style --- */
.main-content {
    width: 90%;
    margin: 0px auto;
}
.box {
    margin-top: 20px;
}
.card-title {
    font-weight: 700;
}

/* --- Slider --- */

.carousel-item {
    
    min-height: 100%;
}
.carousel-img-1 {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
    url('../img/snakes/110317079_725558371610843_3399066962713704261_n.jpg');
    background-size: cover;
}
.carousel-img-2 {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
    url('../img/snakes/110314688_2700963060173762_4637371912612794075_n.jpg');
    background-size: cover;
}
.carousel-img-3 {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),
    url('../img/snakes/109930170_289833505407804_7502598578704983704_n.jpg');
    background-size: cover;
}
.title-color {
    color: #fff;
}
.btn-color {
    background: #000;
    color: rgb(96, 114, 121);
}
.btn-color:hover {
    color: #fff;
}

@keyframes slide-btn {
    16% {
        transform: translateY(8px);
    }
    33% {
        transform: translateY(-6px);
    }
    50% {
        transform: translateY(4px);
    }
    65% {
        transform: translateY(-2px);
    }
    85% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slide-btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.slide-btn:hover,
.slide-btn:focus,
.slide-btn:active {
    animation: slide-btn 1s ease-in-out 1;
}