html {margin: 0px; padding: 0px; font-family: sans-serif;}
.wrapper {
    display: grid;
    
    border: brown 1px solid;
    margin: 5px;
}
.wrapper > div {
    background-color: #eee;
    
}
.topLinks {
    display: grid;
    padding: 0px 0px;
    grid-auto-rows:minmax(15px, auto) ;
}

.logo {  
    padding: 15px;
}  

.mainNav {
    align-self: end;
    

}
main {
    border: chocolate 1px solid;
    margin: 10px auto 10px auto;
}
section {
    display: grid;
}
.imgDiv {
    margin: 5px;
    border: wheat 2px solid;
}
.textDiv {
    margin: 5px;
    border: wheat 2px solid;
    padding: 15px;
    line-height: 18px;
    font-size: 16px;
}
.header {
    border-radius: 2px;
    box-shadow: 0px 5px 5px black;
    display: grid;
    grid-template-columns:20% 80%;
    background-color: rgb(32, 66, 71);
}
.mainNav ul {
    list-style: none;
    padding: 10px;
}
.mainNav ul li {
    box-shadow: 0px 0px 5px black;
    margin: 5px;
    float: left;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(197, 197, 199);
}
.mainNav ul li a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.topLinks ul {
    list-style: none;
}
.topLinks li {
    float: right;
}
.topLinks ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 5px;
}
.main {
    background-color: #eee;
    width: 80%;
    justify-content: flex-end;
    
}
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
footer {
    display: grid;
    margin: 5px;
}

@media screen and (max-width: 900px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }   
}